@import url("https://fonts.googleapis.com/css2?family=Federo&display=swap");

.App {
  text-align: center;
}

.photo {
  height: 600px;
  width: 600px;
}

.home,
.portfolio {
  background-color: #027878;
}

.contact-me {
  text-align: center;
}

.card-body,
.contact {
  background-color: #c22326;
  padding-top: 100px;
}

.nav {
  background-color: #fdb632;
}

body {
  font-family: "Federo", sans-serif;
}

.footer {
  background-color: #fdb632;
}
