.App {
  text-align: center;
}

.photo {
  height: 600px;
  width: 600px;
}

.home {
  background-color: #027878;
}
.portfolio {
  background-color: lightsteelblue;
}
/* .contact {
  background-color: rgb(160, 148, 230);
} */
.contact-me {
  text-align: center;
}

.card-body,
.contact {
  background-color: #c22326;
}

.nav {
  background-color: #fdb632;
}

body {
  font-family: "Allura", cursive;
}

.footer {
  background-color: #fdb632;
}
